data.json
davis_course_embeddings.csv
course_embeddings.csv
course_embeddings_cleaned.csv
pinecone_embeddings.json
.env

.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IPython
profile_default/
ipython_config.py